panda-tool/src/main/resources/panda/tool/codegen/Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="panda.tool.codegen"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="panda.tool.codegen">

	<element name="module" type="tns:Module"></element>

	<complexType name="Module">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="include" type="string" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="entity" type="tns:Entity" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="action" type="tns:Action" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="resource" type="tns:Resource" minOccurs="0" maxOccurs="unbounded"></element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="Resource">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="entity" type="tns:Entity" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="action" type="tns:Action" minOccurs="0" maxOccurs="unbounded"></element>
			</choice>
		</sequence>
		<attribute name="locale" type="string"></attribute>
	</complexType>

	<complexType name="Entity">
		<sequence>
			<element name="property" type="tns:EntityProperty" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="identitySequence" type="string"></attribute>
		<attribute name="identityIncrement" type="string"></attribute>
		<attribute name="identityStart" type="string"></attribute>
		<attribute name="identity" type="string"></attribute>
		<attribute name="table" type="string"></attribute>
		<attribute name="trimString" type="string"></attribute>
		<attribute name="trimList" type="string"></attribute>
		<attribute name="baseBeanClass" type="string"></attribute>
		<attribute name="baseInterface" type="string"></attribute>
		<attribute name="baseQueryClass" type="string"></attribute>
		<attribute name="generate" type="string"></attribute>
		<attribute name="comment" type="string"></attribute>
		<attribute name="extend" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="Action">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="property" type="tns:ActionProperty" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element name="list" type="tns:ListUI" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element name="input" type="tns:InputUI" minOccurs="0"
					maxOccurs="unbounded">
				</element>
			</choice>
		</sequence>
		<attribute name="autoJoin" type="string"></attribute>
		<attribute name="generate" type="string"></attribute>
		<attribute name="trimString" type="string"></attribute>
		<attribute name="trimList" type="string"></attribute>
		<attribute name="dataListFieldName" type="string"></attribute>
		<attribute name="dataFieldName" type="string"></attribute>
		<attribute name="actionBaseClass" type="string"></attribute>
		<attribute name="actionClass" type="string"></attribute>
		<attribute name="extend" type="string"></attribute>
		<attribute name="title" type="string"></attribute>
		<attribute name="entity" type="string"></attribute>
		<attribute name="path" type="string"></attribute>
		<attribute name="auth" type="string"></attribute>
		<attribute name="name" type="string"></attribute>
	</complexType>

	<complexType name="EntityProperty">
		<sequence>
			<element name="validator" type="tns:Validator" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="tooltip" type="string"></attribute>
		<attribute name="joinRefs" type="string"></attribute>
		<attribute name="joinKeys" type="string"></attribute>
		<attribute name="joinType" type="string"></attribute>
		<attribute name="joinField" type="string"></attribute>
		<attribute name="joinName" type="string"></attribute>
		<attribute name="joinEntity" type="string"></attribute>
		<attribute name="foreignEntity" type="string"></attribute>
		<attribute name="foreignKey" type="string"></attribute>
		<attribute name="uniqueKey" type="string"></attribute>
		<attribute name="primaryKey" type="string"></attribute>
		<attribute name="defaultValue" type="string"></attribute>
		<attribute name="notNull" type="string"></attribute>
		<attribute name="scale" type="string"></attribute>
		<attribute name="size" type="string"></attribute>
		<attribute name="fieldKind" type="string"></attribute>
		<attribute name="nativeType" type="string"></attribute>
		<attribute name="jdbcType" type="string"></attribute>
		<attribute name="comment" type="string"></attribute>
		<attribute name="column" type="string"></attribute>
		<attribute name="property" type="string"></attribute>
		<attribute name="getterTrim" type="string"></attribute>
		<attribute name="setterTrim" type="string"></attribute>
		<attribute name="setterCode" type="string"></attribute>
		<attribute name="getterCode" type="string"></attribute>
		<attribute name="initValue" type="string"></attribute>
		<attribute name="modifier" type="string"></attribute>
		<attribute name="type" type="string"></attribute>
		<attribute name="label" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ActionProperty">
		<sequence>
			<element name="validator" type="tns:Validator" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="tooltip" type="string"></attribute>
		<attribute name="getterTrim" type="string"></attribute>
		<attribute name="setterTrim" type="string"></attribute>
		<attribute name="setterCode" type="string"></attribute>
		<attribute name="getterCode" type="string"></attribute>
		<attribute name="initValue" type="string"></attribute>
		<attribute name="modifier" type="string"></attribute>
		<attribute name="type" type="string"></attribute>
		<attribute name="label" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="Validator">
		<sequence>
			<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="type" type="string" use="required"></attribute>
		<attribute name="refer" type="string"></attribute>
		<attribute name="message" type="string"></attribute>
		<attribute name="msgId" type="string"></attribute>
	</complexType>

	<complexType name="Param">
		<attribute name="value" type="string" use="required"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ListUI">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="column" type="tns:ListColumn" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="header" type="string" minOccurs="0" maxOccurs="1"></element>
				<element name="footer" type="string" minOccurs="0" maxOccurs="1"></element>
			</choice>
		</sequence>
		<attribute name="generate" type="string"></attribute>
		<attribute name="safeInclude" type="string"></attribute>
		<attribute name="focusme" type="string"></attribute>
		<attribute name="cssColumn" type="string"></attribute>
		<attribute name="template" type="string"></attribute>
		<attribute name="extend" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="InputUI">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="field" type="tns:InputField"	minOccurs="0" maxOccurs="unbounded"></element>
				<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
				<element name="header" type="string" minOccurs="0" maxOccurs="1"></element>
				<element name="footer" type="string" minOccurs="0" maxOccurs="1"></element>
			</choice>
		</sequence>
		<attribute name="generate" type="string"></attribute>
		<attribute name="safeInclude" type="string"></attribute>
		<attribute name="focusme" type="string"></attribute>
		<attribute name="theme" type="string"></attribute>
		<attribute name="formId" type="string"></attribute>
		<attribute name="template" type="string"></attribute>
		<attribute name="extend" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ListColumn">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="format" type="tns:Format" minOccurs="0" maxOccurs="1"></element>
				<element name="filter" type="tns:Filter" minOccurs="0" maxOccurs="1"></element>
			</choice>
		</sequence>
		<attribute name="display" type="string"></attribute>
		<attribute name="tooltip" type="string"></attribute>
		<attribute name="cssClass" type="string"></attribute>
		<attribute name="label" type="string"></attribute>
		<attribute name="link" type="string"></attribute>
		<attribute name="group" type="string"></attribute>
		<attribute name="filterable" type="string"></attribute>
		<attribute name="sortable" type="string"></attribute>
		<attribute name="hidden" type="string"></attribute>
		<attribute name="value" type="string"></attribute>
		<attribute name="order" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ListQuery">
		<sequence>
			<element name="filter" type="tns:Filter" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="display" type="string"></attribute>
		<attribute name="order" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="InputField">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="before" type="string" minOccurs="0" maxOccurs="1"></element>
				<element name="content" type="string" minOccurs="0" maxOccurs="1"></element>
				<element name="editTag" type="tns:Tag" minOccurs="0" maxOccurs="1"></element>
				<element name="viewTag" type="tns:Tag" minOccurs="0" maxOccurs="1"></element>
				<element name="after" type="string" minOccurs="0" maxOccurs="1"></element>
				<element name="validator" type="tns:Validator" minOccurs="0" maxOccurs="unbounded"></element>
			</choice>
		</sequence>
		<attribute name="display" type="string"></attribute>
		<attribute name="tooltip" type="string"></attribute>
		<attribute name="label" type="string"></attribute>
		<attribute name="actionField" type="string" default="false"></attribute>
		<attribute name="required" type="string"></attribute>
		<attribute name="requiredrefer" type="string"></attribute>
		<attribute name="requiredvalidate" type="string"></attribute>
		<attribute name="order" type="string"></attribute>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="Tag">
		<sequence>
			<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="name" type="string" use="required"></attribute>
	</complexType>

	<complexType name="Format">
		<sequence>
			<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="type" type="string"></attribute>
		<attribute name="pattern" type="string"></attribute>
	</complexType>

	<complexType name="Filter">
		<sequence>
			<element name="param" type="tns:Param" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="fixed" type="string"></attribute>
		<attribute name="order" type="string"></attribute>
		<attribute name="tooltip" type="string"></attribute>
		<attribute name="label" type="string"></attribute>
		<attribute name="type" type="string" use="required"></attribute>
		<attribute name="name" type="string"></attribute>
	</complexType>
</schema>